:root{
  --primary-color: #76B865;
  --link-color: #12538B;
}

a{
  color: var(--link-color);
}

input, button, select{
  padding: 5px 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: transparent;
}

.networks{
  max-width: 700px;
  margin: 0 auto;
}

.networks ol {
  list-style: none;
  padding-left: 1rem;
}

.networks ol li {
  counter-increment: item;
  padding: 0 0 0 0;
}

.networks ol li::marker {
  content: counter(item) '.';
}


.networks h3 {
  font-weight: 500;
}

.networks h3 a {
  text-decoration: none;
  margin-left: 5px;
}
.networks h3 a:hover {
  text-decoration: underline;
}

.pagination {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: var(--link-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.flex{
  display: flex;
  column-gap: 1rem;
}

.flex-space-between{
  justify-content: space-between;
}

.search{
  width: 100%;
}

.export{
  min-width: 7rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}


.network-details .row{
  display: flex;
  padding: 2px 5px;
}
.network-details .row:nth-child(odd) {
  background: #eee;
}

.network-details .row .label{
  width: 15rem;
}

.text-center{
  text-align: center;
}