:root{
  --primary-color: #76B865;
  --link-color: #12538B;
}

*{
  box-sizing: border-box;
}

a{
  color: var(--link-color);
  cursor: pointer;
}

.networks-container{
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.networks-container .networks{
  width: 100%;
  max-width: 700px;
}

input, button, select{
  padding: 5px;
  border: 1px solid #ccc;
  outline: transparent;
}

.networks-container b{
  font-weight: 500;
}

.networks ol {
  list-style: none;
  padding-left: 1rem;
}

.networks ol li {
  counter-increment: item;
  padding: 0 0 0 0;
}

.networks ol li::marker {
  content: counter(item) '.';
}


.networks h3 {
  font-weight: 500;
}

.networks h3 a {
  text-decoration: none;
  margin-left: 5px;
}
.networks h3 a:hover {
  text-decoration: underline;
}

.pagination {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: var(--link-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.flex{
  display: flex;
  column-gap: 1rem;
}

.flex-space-between{
  justify-content: space-between;
}

.search{
  width: 100%;
}

.export{
  min-width: 7rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}


.network-details .row{
  display: flex;
  padding: 2px 5px;
}
.network-details .row:nth-child(odd) {
  background: #eee;
}

.network-details .row .label{
  width: 15rem;
}

.text-center{
  text-align: center;
}

.networks-container .facet-group .title {
  background-color: var(--primary-color);
  color: #fff;
}

.networks-container .collapse.in {
  display: block;
}

.networks-container .facet-group .title {
  display: block;
  padding-right: 8px;
  border: 1px solid #ddd;
  font-weight: 700;
  text-align: inherit;
}

.networks-container .facet, .networks-container .facet-group .title {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  line-height: 1.5rem;
}


.networks-container .facet-group .collapse,
.networks-container .facet-group .collapsing,
.networks-container .facet-group>.facet {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.networks-container .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #595959;
  border-radius: 10px;
}

.networks-container .facet .badge, 
.networks-container  .facet-group .title .badge{
  flex-shrink: 0;
  max-height: 19px;
  line-height: 1.2;
  vertical-align: baseline;
}


.networks-container .facet .text, 
.networks-container  .facet-group .title .text{
  flex-grow: 1;
}

.networks-container .facet-group .facet {
  border-bottom: 1px solid #ddd;
}